{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AAppel</title>
    <link rel="stylesheet" href="{% static 'StudentView/submitted.css' %}" />
  </head>
  <body>
    <header class="header">
      <h1 class="header-title">BUT R&T</h1>
      <h2>portail d'émargement</h2>
    </header>

    <div class="container">
      <h2>émrgement effectu</h2>
      <br />
      <h2>Vous pouvez fermer cette page</h2>
    </div>

    <footer class="footer">
      <p>&copy; SIMON LEBON ALEXANDRINO </p>
    </footer>
  </body>
</html>
